body{ 
    background-image: url("../images/pokebackground.png");
    height: 100%;
    width:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 25px;
    font-family: 'Press Start 2P', cursive;
    text-shadow: 2px 2px #000000
}

#enCharacter,
#defCharacter{
    height:200px;
}

img {
    width: 120px;
    height: 120px;
}

#info {
    font-size: 15px;
}